body, html {
    height: 100%;
  }
  .bg {
    /* background-image: url("589333.jpg"); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  ul{
    list-style: none;
  }
  .ulInerClass{
      display: none;
  }
  li:hover  
  .ulInerClass{
    display: block;
}